.sidebar{
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-inline: 0 !important;
}

#layout-main{
  padding-inline: 0 !important;
}

.dashboard{
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-inline: 0 !important;
}

@media (width > 1400px) {
  .sidebar{
    display: flex;
    flex-direction: column;
    padding-inline: 0 !important;
  }

  #layout-main{
    padding-inline: 0 !important;
    /* height: 100%; */
  }

  .dashboard{
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-inline: 0 !important;
  }

}